.root{
    width: 100%;
    max-width: 1171px;
    background: rgb(235, 239, 242);
    height: 100%;
    p{
        color: rgb(42, 52, 64);
        font-size: 15px;
        font-weight: 600;
        line-height: 120%;
        text-align: center;
    }
}
.theader{
    width: 1171px;
    height: 88px;
    display: grid;
    grid-template-columns: repeat(7, 1fr) 50px;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(53, 83, 107);
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wrapper{
    width: 100%;
    display: block;
    max-width:  1171px;
}

.itemWrapper{
    max-width: 1200px;
    height: 70px;
    border-bottom: 1px solid rgb(235, 239, 242);
    background: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr) 50px;
    align-items: center;
    justify-items: center;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 70px;
    background: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    /* Frame 299 */
    position: absolute;
    width: 125px;
    height: 270px;
    left: 335px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    /* Grey */
    background: rgb(235, 239, 242);
    padding: 10px 25px;
    div, li{
        font-size: 15px;
        font-weight: 600;   
    }
}
.category{
    position: relative;
}
.popupWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
.categories{
    display: flex;
    flex-direction: column;
}
li{
    font-size: 15px;
    font-weight: 600;   
}
.add{
    color: rgb(91, 126, 154);
    font-size: 15px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.arrowDown, .actionImg{
    cursor: pointer;
}
.header {
    max-width: 1219px;
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 40px;
        color: rgba(42, 52, 64, 1);
    }

    .header__list {
        width: 700px;
        display: flex;
        justify-content: space-between;

        .btn_search {
            width: 17.5pxpx;
            height: 17.5pxpx;
            color: rgba(53, 83, 107, 1);
            margin: 18px 0 0 17px;
            position: absolute;
        }

        input {
            width: 350px;
            height: 52px;
            border-radius: 14px;
            border: none;
            background-color: rgba(235, 239, 242, 1);
            outline: none;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 18px;
            color: rgba(53, 83, 107, 1);
            padding-left: 44px;
        }

        input::placeholder {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 18px;
            color: rgba(53, 83, 107, 1);
        }
    
        button {
            width: 256px;
            height: 52px;
            border-radius: 14px;
            border: none;
            background-color: rgba(53, 83, 107, 1);
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            cursor: pointer;

            .btn_plus {
                width: 24px;
                height: 24px;
                margin-top: 6px;
                cursor: pointer;
            }
        }
    
        .header__icon {
            width: 52px;
            height: 52px;
            cursor: pointer;
        }
    }
}