@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.affiliate__btn_white {
    width: 236px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid rgba(53, 83, 107, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(53, 83, 107, 1);
    background-color: transparent;
}

.affiliate__btn_blue {
    width: 236px;
    height: 56px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(53, 83, 107, 1);

    span {
        background-color: rgba(53, 83, 107, 1) !important;
        color: rgba(255, 255, 255, 1) !important;
    }
}

.affiliate__btn_blue:hover {
    background-color: rgba(53, 83, 107, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
}

.storehouse__btn_white {
    width: 260px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid rgba(53, 83, 107, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(53, 83, 107, 1);
    background-color: transparent;
}

.storehouse__btn_blue {
    width: 260px;
    height: 56px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(53, 83, 107, 1);

    span {
        color: rgba(255, 255, 255, 1)
    }

    span {
        background-color: rgba(53, 83, 107, 1) !important;
        color: rgba(255, 255, 255, 1) !important;
    }
}

.storehouse__btn_blue:hover {
    background-color: rgba(53, 83, 107, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
}