@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	.add__product {
		position: static;
		width: 100%;
		max-width: 610px;
		height: 100%;
		max-height: 697px;
		border-radius: 30px;
		background: rgb(254, 254, 254);
		padding: 32px;

		.add__product_icon {
			position: absolute;
			width: 18.67px;
			height: 18.67px;
			margin-left: 320px;
			margin-top: 10px;
			cursor: pointer;
		}

		.add__product_h3 {
			width: 221px;
			height: 36px;
			color: rgb(42, 52, 64);
			font-family: 'Poppins', sans-serif;
			font-size: 24px;
			font-weight: 600;
		}

		.add__product_p {
			width: 100%;
			max-width: 413px;
			max-height: 24px;
			color: rgb(42, 52, 64);
			font-family: 'Poppins', sans-serif;
			font-size: 20px;
			font-weight: 600;
			margin-top: 21px;
		}

		.add__product_inps {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			.add__product_count {
				width: 100%;
				max-width: 252px;
				margin-top: 16px;

				.select {
					width: 100%;
					max-width: 252px;
					display: flex;
					justify-content: space-between;
					align-items: center;

					div {
						background: rgb(235, 239, 242);
						border: none;

						span {
							color: rgb(0, 0, 0);
							font-family: 'Poppins', sans-serif;
							font-size: 16px;
							font-weight: 400;
							text-align: left;
						}
					}
				}

				span {
					color: rgb(91, 126, 154);
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-weight: 400;
				}

				input {
					width: 171px;
					height: 64px;
					padding: 24px 16px 24px 16px;
					border-radius: 10px;
					background: rgb(235, 239, 242);
					border: none;
					outline: none;
					color: rgb(42, 52, 64);
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-weight: 400;
				}
			}

			.add__product_category {
				width: 100%;
				max-width: 252px;
				max-height: 90px;
				margin-top: 16px;

				.category__span {
					color: rgb(91, 126, 154);
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-weight: 600;
					text-align: left;
				}
			}

			.add__product_limit {
				width: 100%;
				max-width: 252px;
				max-height: 90px;
				margin-top: 16px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.limit_span {
					color: rgb(91, 126, 154);
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 100%;
					letter-spacing: 0%;
					text-align: left;
				}

				input {
					width: 252px;
					height: 64px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					padding: 24px 16px 24px 16px;
					border-radius: 10px;
					background: rgb(235, 239, 242);
					border: none;
					outline: none;
					color: rgb(42, 52, 64);
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 100%;
					letter-spacing: 0%;
					text-align: left;
				}
			}

			.add__product_date {
				max-width: 252px;
				max-height: 90px;
				margin-top: 16px;

				.data_span {
					color: rgb(91, 126, 154);
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-weight: 600;
					line-height: 100%;
					letter-spacing: 0%;
					text-align: left;
				}
				input {
					width: 252px;
					height: 66px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					padding: 24px 16px 24px 16px;
					border-radius: 10px;
					background: rgb(235, 239, 242);
					border: none;
					outline: none;

					color: rgb(42, 52, 64);
					font-family: 'Poppins', sans-serif;
					font-size: 18px;
					font-weight: 600;
					line-height: 100%;
					letter-spacing: 0%;
					text-align: left;
				}
			}

			.add__product_affiliate {
				width: 100%;
				max-width: 252px;
				height: 90px;
				margin-top: 16px;

				div {
					position: static;
					font-size: 16px;
					font-weight: 400;
					color: rgb(42, 52, 64);
					border: none;

					span {
						display: none;
					}
				}

				.affiliate_span {
					color: rgb(91, 126, 154);
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					font-weight: 400;
				}

				.add__product_option {
					width: 252px;
					height: 66px;
					border-radius: 10px;
					background: rgb(235, 239, 242);
					color: rgb(42, 52, 64);
					font-family: Poppins;
					font-size: 16px;
					font-weight: 400;
					border: none;
					outline: none;
					overflow: scroll;
				}
			}
		}

		.add__product_name {
			max-width: 536px;
			max-height: 90px;
			margin-top: 16px;

			span {
				color: rgb(91, 126, 154);
				font-family: 'Poppins', sans-serif;
				font-size: 16px;
				font-weight: 400;
				color: rgb(91, 126, 154);
			}

			input {
				width: 536px;
				height: 64px;
				padding: 24px 16px 24px 16px;
				border-radius: 10px;
				background: rgb(235, 239, 242);
				color: rgb(42, 52, 64);
				font-family: 'Poppins', sans-serif;
				font-size: 16px;
				font-weight: 400;
				outline: none;
				border: none;
			}
		}

		.btns {
			max-width: 536px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 70px;
		}
	}
}

.labels {
	width: 252px !important;
	height: 66px;
	background: rgb(235, 239, 242);
	padding-top: 25px;
	border: none;
	outline: none;
	border-radius: 10px 10px;
}