
.sider {
  width: 100%;
  max-width: 221px;
  height: 100%;
  text-align: center;
  color: #fff;
  background: rgb(53, 83, 107) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .necafe {
    width: 100%;
    max-width: 137px;
    height: 38px;
    margin-top: 32px !important;
  }

  .list_menu {
    margin-top: 56px;
  }

  .sider_icon {
    max-width: 24px;
    margin-right: 7px;
  }

  .links {
    width: 100%;
    max-width: 157px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 10px 12px 10px;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    background-color: transparent;
  }

  
  .links_exit {
    width: 100%;
    max-width: 157px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 10px 12px 10px;
    color: rgb(255, 255, 255);
    margin-top: 600px;
  }
  
  .active {
    background-color: rgba(244, 115, 86, 1);
  }
}

