@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.container {
    width: 1171px;
    height: 837px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

  .tabs {
    width: 700px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
  }
  
  .tab {
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16xpx;
    color: rgba(95, 99, 102, 1);
    padding-top: 22px;
  }

  .tab:last-child {
    width: 295px;
    color: rgba(244, 165, 165, 1);
  }

  .active {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 49, 93, 1);
  }

  .active:last-child {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 75, 75, 1);
  }


  .line__first_active {
    width: 213px;
    border: 2px solid rgba(53, 83, 107, 1);
    margin-left: 35px;
  }

  .line__second_active {
    width: 102px;
    color: rgba(0, 49, 93, 1);
    border: 2px solid rgba(53, 83, 107, 1);
    margin-left: 294px;
  }

  .line__third_active {
    width: 295px;
    border: 2px solid rgba(255, 75, 75, 1);
    margin-left: 445px;
  }

  .main_line {
    width: 1171px;
    border: 1px solid rgba(234, 234, 234, 1);
  }



////////////////////////////
.table {
  border-collapse: collapse;
  width: 50%;
}

tr {
  width: 1134px;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
}

th {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgba(42, 52, 64, 1);
  width: 229px;
  
  span {
    width: 23px;
    height: 19px;
    color: rgba(91, 126, 154, 1);
    font-weight: 600;
    margin-right: -50px;
    margin-right: 20px;
  }
}

th:first-child {
  width: 166px;
  margin-right: 101px;
}

td {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(42, 52, 64, 1);
  width: 229px;

  span {
    width: 23px;
    height: 19px;
    color: rgba(91, 126, 154, 1);
    font-weight: 600;
    margin-right: 20px;
  }
}

td:first-child {
  width: 115px;
  margin-right: 152px;
}


td:last-child {
  width: 276px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

th:last-child {
  width: 276px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table_line {
  width: 1171px;
  border: 1px solid rgba(53, 83, 107, 1);
}


.tableIcon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.list_line {
  border: 1px solid rgba(235, 239, 242, 1);
}


 

