@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.container {
  max-width: 1171px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.con {
  max-width: 1171px;
  display: block;
  margin: 0 auto;
  border-top: 1px solid rgb(234, 234, 234);
  ul {
    li:last-child {
      display: none;
    }
  }
}

tbody {
  display: block;
  height: 100%;
  overflow-y: auto;
}
.paginationWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 70px;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.pagination {
  text-align: center;
  margin-top: 30px;
}

.tabs {
  width: 100%;
  max-width: 750px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.tab:first-child {
  width: 100%;
  max-width: 213px;
  height: 70px;
  padding: 24px 28px 27px 24px;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: rgb(95, 99, 102);
  margin-left: 32px;
  cursor: pointer;
}

.tab:nth-child(2) {
  width: 100%;
  max-width: 102px;
  height: 70px;
  padding: 24px 24px 27px 24px;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: rgb(95, 99, 102);
  cursor: pointer;
  margin-left: 40px;
}

.tab:last-child {
  width: 100%;
  max-width: 295px;
  height: 70px;
  padding: 24px 24px 27px 24px;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: rgb(244, 165, 165);
  cursor: pointer;
  margin-left: 30px;
}

.active {
  color: rgba(0, 49, 93, 1) !important;
}

.active:last-child {
  color: rgb(255, 75, 75) !important;
}

.line__first_active {
  width: 213px;
  border: 2px solid rgba(53, 83, 107, 1);
  margin-left: 31px;
}

.line__second_active {
  width: 102px;
  color: rgba(0, 49, 93, 1);
  border: 2px solid rgba(53, 83, 107, 1);
  margin-left: 303px;
}

.line__third_active {
  width: 100%;
  max-width: 295px;
  border: 2px solid rgba(255, 75, 75);
  margin-left: 455px;
}

////////////////////////////
.table {
  width: 100%;
  height: 50vh;
}
tr {
  height: 70px;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 20px;
  justify-content: space-between;
  justify-items: start;
  align-items: center;
  padding-left: 32px;
  border-bottom: 1px solid rgb(235, 239, 242);
}
th {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgba(42, 52, 64, 1);
  span {
    width: 23px;
    height: 19px;
    color: rgba(91, 126, 154, 1);
    font-weight: 600;
    margin-right: -50px;
    margin-right: 20px;
  }
}
td {
  width: 100%;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(42, 52, 64, 1);
  span {
    width: 23px;
    height: 19px;
    color: rgba(91, 126, 154, 1);
    font-weight: 600;
    margin-right: 20px;
  }
}
td:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
th:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first_tr {
  border-bottom: 1px solid rgb(53, 83, 107);
}
.tableIcon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
