.root {
  // background: rgb(235, 239, 242);
  height: 100%;
  border: none;
  img {
    cursor: pointer;
  }
  p {
    color: rgb(42, 52, 64);
    font-size: 15px;
    font-weight: 600;
    text-align: left;
  }
  .numbering {
    color: rgb(91, 126, 154);
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    p{
        color: rgb(91, 126, 154);
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;
    }
  }
}
.theader {
  display: grid;
  grid-template-columns: 55px repeat(4, 1fr) 50px;
  align-items: center;
  justify-items: start;
  max-width: 1171px;
  height: 88px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(53, 83, 107);
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  div {
    padding-left: 20px;
  }
}
.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1171px;
}

.itemWrapper {
  max-width: 1171px;
  height: 88px;
  border-bottom: 1px solid rgb(235, 239, 242);
  background: white;
  display: grid;
  grid-template-columns: 55px repeat(4, 1fr) 50px;
  align-items: center;
  justify-items: start;
  p {
    padding-left: 20px;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1171px;
  height: 124px;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category {
  position: relative;
}

.header {
  max-width: 1219px;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: rgba(42, 52, 64, 1);
  }

  .header__list {
    width: 700px;
    display: flex;
    justify-content: space-between;

    .btn_search {
      width: 17.5pxpx;
      height: 17.5pxpx;
      color: rgba(53, 83, 107, 1);
      margin: 18px 0 0 17px;
      position: absolute;
    }

    input {
      width: 350px;
      height: 52px;
      border-radius: 14px;
      border: none;
      background-color: rgba(235, 239, 242, 1);
      outline: none;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: rgba(53, 83, 107, 1);
      padding-left: 44px;
    }

    input::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: rgba(53, 83, 107, 1);
    }

    button {
      width: 256px;
      height: 52px;
      border-radius: 14px;
      border: none;
      background-color: rgba(53, 83, 107, 1);
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: rgba(255, 255, 255, 1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      cursor: pointer;

      .btn_plus {
        width: 24px;
        height: 24px;
        margin-top: 6px;
        cursor: pointer;
      }
    }

    .header__icon {
      width: 52px;
      height: 52px;
      cursor: pointer;
    }
  }
}
